*{
    padding: 0;
    margin: 0;
}
body {
    position: relative;
    z-index: 1;
    overflow-y: hidden;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-start;
    min-width: 1110px;
}
h1{
    color: aliceblue;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}

.bg-image{
    background-image: url("../../images/flappy-background.png");
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    filter: blur(6px);
}
#game{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    background-color: #71c5cf;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#block{
    width: 60px;
    height: 500px;
    position: relative;
    left: 600px;
    animation: block 2s infinite linear;

}
.pipe {
    border: 5px solid black; 
    position: absolute;
    width: 100%;
    background: linear-gradient(to right, 
    #9CE559 0%, #9CE559 4%, 
    #DDF984 4%, #DDF984 8%, 
    #9CE559 8%, #9CE559 16%, 
    #74BF2E 16%, #74BF2E 20%,
    #9CE559 20%, #9CE559 24%,
    #74BF2E 24%, #74BF2E 84%,
    #538121 84%, #538121 88%,
    #74BF2E 88%, #74BF2E 92%,
    #538121 92%, #538121 100%);
    z-index: 7;
    animation: block 2s infinite linear;
}

#top-pipe {
    top: 0;
    left: 700px;
    height: 200px;
}

#bottom-pipe {
    bottom: 0;
    left: 700px;
    height: 200px;
}

#hole{
    width: 50px;
    height: 150px;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s infinite linear;
    z-index: 6;
}
#character{
    width: 33px;
    height: 24px;
    position: absolute;
    top: 100px;
    background-image: url(../../images/flappy.png);
    z-index: 8;
}

.background{
    position: absolute;
    width: 502px;
    top: 300px;
    align-items: center;
    justify-content: center;
}

.floor{
    position: absolute;
    top: 500px;
    width: 502px;
    z-index: 7;
    justify-content: center;
}
#pontos{
    position: absolute;
    z-index: 1090;
    font-size: 60px;
    display: flex;
    top: 120px;
    left: 49.4%;
    font-family: 'Jersey 10', sans-serif;
}
#pregame{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-size: 28px;
    margin-left: 20px;
    font-family: 'Jersey 10', sans-serif;
    word-spacing: 5px;
}
#pregame img{
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 34px;
    height: 24px;
}
#pregame p, #pregame h1{
    margin: 20px;
    padding-top: 30px;
}
@keyframes block{
    0%{left:700px}
    100%{left:-50px}
}